<nav>
    <a class="nav-brand" href="">
        <i class="fa fa-fingerprint secrets-icon"></i>
        <h1>Secrets</h1>
    </a>
    <ul class="nav-list">
        <li class="nav-item"><a href=""><i class="nav-item-icon fas fa-home"></i>Dashboard</a></li>
        <li class="nav-item"><a href=""><i class="nav-item-icon fas fa-search"></i>Search</a></li>
        <li class="nav-item"><a href=""><i class="nav-item-icon fas fa-share"></i>Share</a></li>
        <li class="nav-item"><a href=""><i class="nav-item-icon nav-item-profile fas fa-user"></i>Profile</a></li>
    </ul>
</nav>