<%- include('partials/header') %>

<section class="section-home">
  <div class="brand-secrets">
    <i class="fa fa-fingerprint secrets-icon"></i>
    <h1>Secrets</h1>
  </div>
  <h3>Don't keep your secrets, share them anonymously!</h3>
  <hr>
  <div class="button-container">
    <a href="/register"><button class="button-register">Register</button></a>
    <a href="/login"><button class="button-login">Login</button></a>
  </div>
</section>

<%- include('partials/footer') %>
